In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\KVANJANA\Downloads\homeprices.csv')

In [7]:
df.tail()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [6]:
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
df.describe()

              area          price
count     5.000000       5.000000
mean   3280.000000  626000.000000
std     540.370243   74949.983322
min    2600.000000  550000.000000
25%    3000.000000  565000.000000
50%    3200.000000  610000.000000
75%    3600.000000  680000.000000
max    4000.000000  725000.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    5 non-null      int64
 1   price   5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [8]:
df.iloc[:,-1]

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df.iloc[:,-1], test_size=0.5)
scaler = StandardScaler()

In [43]:
X_train = scaler.fit_transform(X_train)

In [44]:
X_test = scaler.transform(X_test)

In [45]:
from sklearn.linear_model import LinearRegression
lr =LinearRegression()

In [46]:
lr.fit(X_train, y_train)

LinearRegression()

In [47]:
y_pred =lr.predict(X_test)

In [48]:
type(y_test)

pandas.core.series.Series

In [49]:
y_pred

array([650000., 590000., 690000.])

In [50]:
lr.score(X_test,y_test)

0.7980416156670747

In [51]:
import pickle

In [52]:
pickle.dump(lr, open('linear_regression.pkl','wb'))

In [55]:
model = pickle.load(open('linear_regression.pkl', 'rb'))